body{
  background: #f598a4;
  font-size: 16px;
  margin:0;
  padding:0;
}

img{
    /* ------ MAX WIDTH ------ */
    max-width:100%;
}

h1{

}

#logo {
    /* ------ MAX WIDTH ------ */
    width: 70%;
    margin: 25px auto;
    display: block;
}

nav{
    display: grid;
    /* Change previous grid */
    grid-auto-flow: column;
    grid-gap: auto;
    background: #06bdcd;
    padding:1.5% auto;
}

nav a{
    margin: 10px auto;
    text-decoration: none;
    color:white;
    font-family: futura, sans-serif;
    font-weight: bold;
}
h1{
color:black;
font-family: futura,'Nunito', sans-serif;
font-size: 15px;
}
h2{
    color:white;
    font-family: futura,'Nunito', sans-serif;
    font-size: 1.6em;
    text-align: center;
}
h3{
  color:black;
  font-family: futura,'Nunito', sans-serif;
  font-size: 15px;
}

p{
    color:black;
    font-family: futura,'Nunito', sans-serif;
    font-size: 13px;
}
#wrapper{
    margin: 15px auto;
    width:90%;
}
.submit{
  color:white;
  font-family: futura,'Nunito', sans-serif;
  font-size: 15px;
  background-color: #06bdcd;


}
.center{
    display: block;
    margin: 0 auto;
    width:100%;
}
.col{
   width:100%;
}
.cursor{
  background-color:#06bdcd;
  color:white;
  font-family: futura,'Nunito', sans-serif;
  font-size: 15px;
}
footer{
    text-align: center;
    background-color: #fee66b;
    padding:20px 0;
}
footer a{
    color:#194035;
    text-decoration: none;
}


@media only screen and (min-width:700px){
    /* ---- Desktop styles below ---- */
    #logo{
      width:50%;
    }
    .col{
        width:45%;
        float:left;
        padding:2%;
    }
    .row::after{
        display: table;
        clear:both;
        content:"";
        }
}
@media only screen and (min-width:1000px){
    /* ---- Desktop styles below ---- */
    .col{
        width:30%;
        float:left;
        padding:1%;
    }
    .row::after{
        display: table;
        clear:both;
        content:"";
    }
}
* {box-sizing:border-box}

  /* START MOBILE FORM STYLES */
  .form-container{
    margin: 20px auto;
    width:90%;
  }
  form p{
    margin-bottom:5px;
  }
  label{
    display:block;
  }
  #newsletter input{
    display:inline;
    width:auto;
  }
  input{
    /* FOR MOBILE WIDTH:100% */
    width:100%;
    padding:1.7%;
    margin:1.5% 0;
    font-size: 1em;
    border-radius: 4px;
    border:1px solid #ccc;
    box-sizing: border-box;
  }
  textarea{
    min-height:100px;
    width: 100%;
    padding: 2%;
    margin: 1.5% 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button{
    /* CHANGED COLORS bellow */
    background: #45A99F;
    border: 1px solid #45A99F;

    /* Rounded corners */
    border-radius: 4px;

    /* Text color */
    color:white;
    margin-top: 3%;
    margin-bottom: 3%;
    padding:2% 4%;
    font-size: 1em;
  }
  /* END MOBILE FORM STYLES */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:white;
  text-shadow: 0px 0px 70px rgba(0,0,0,1) ;
  font-family: futura,'Nunito', sans-serif;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
